<mat-toolbar color="primary">
  <span>S U D O K U</span>
</mat-toolbar>

<div class="content-container">
  <div class="sudoku-container">
    <ng-container class="row" *ngFor="let row of gridData; let rowIdx=index">
      <span [ngClass]="{'cell': true, 
                        'cell-fixed': (cell != 0),
                        'grid-border-right':((cellIdx+1)%3==0), 
                        'grid-border-left':(cellIdx%3==0),
                        'grid-border-top':(rowIdx%3==0),
                        'grid-border-bottom':((rowIdx+1)%3==0)
                      }" 
            *ngFor="let cell of row;let cellIdx=index">
        <span *ngIf="cell==0">
          <input class="inp" type="text" maxlength="1" (keypress)="onlyNumberKey($event)"/>
        </span>
        <span *ngIf="cell!=0">
          {{cell}}
        </span>
      </span> 
    </ng-container >
  </div>
</div>