<mat-toolbar color="primary">
  <span>S U D O K U</span>
</mat-toolbar>

<div class="content-container">
  <div class="action-container">
    <button mat-raised-button color="primary" (click)="solveSudoku()" [disabled]="isSolveDisabled">Solve</button>
  </div>
  <div class="sudoku-container">
    <div class="row" *ngFor="let row of gridData; let rowIdx=index">
      <span [ngClass]="{'cell': true, 
                        'cell-fixed': (template[rowIdx][cellIdx] == 1),
                        'grid-border-right':((cellIdx+1)%GRID_SIZE==0), 
                        'grid-border-left':(cellIdx%GRID_SIZE==0),
                        'grid-border-top':(rowIdx%GRID_SIZE==0),
                        'grid-border-bottom':((rowIdx+1)%GRID_SIZE==0)
                      }" 
            *ngFor="let cell of row;let cellIdx=index">
        <span *ngIf="template[rowIdx][cellIdx]==0" [ngClass]="{'highlight-cell':(rowProcess==rowIdx && colProcess == cellIdx)}">
          <input class="inp" [(ngModel)]="gridData[rowIdx][cellIdx]" type="text" maxlength="2" (keypress)="onlyNumberKey($event)"/>
        </span>
        <span *ngIf="template[rowIdx][cellIdx]!=0">
          {{cell}}
        </span>
      </span> 
    </div >
  </div>
</div>